@import '../../utils/mixin.scss';

.nav {
  height: 95px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;

  @include mediaTabletMax {
    border-bottom: 0;
    height: auto;
  }

  &-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    padding: 0 40px;

    @include mediaTabletMax {
      padding: 15px 20px;
      justify-content: space-between;
    }
  }

  &-brand {
    display: flex;
    font-size: 25px;
    padding-right: 40px;
    white-space: nowrap;

    &__letter {
      font-weight: bold;
      color: tomato;
      font-family: 'Brush Script MT', sans-serif;
      font-size: 30px;
    }
  }

  &-menu {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;

    &__link {
      display: flex;
      align-items: center;
      padding: 0 15px;
      text-decoration: none;
      color: #333;
      opacity: 0.6;
      font-weight: bold;
      line-height: 20px;

      &_active {
        opacity: 1;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    @include mediaTabletMax {
      display: none;
    }
  }

  &-sidebar {
    @include mediaTabletMin {
      display: none;
    }
  }
}
